

.hotel-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.hotel-item {
  display: grid;
  grid-template-columns: repeat (2, 140px);
  gap: 16px 20px;
  grid-template-rows: 212px 1fr;
  align-items: center;
}
.hotel-photo [
  grid-column: 2 span;

]
 .hotel-items h3 {
  grid-column: 2 span;
 }

 .button {
  font-size: 16px;
  font-weight: 700;
  color: #ffff;
 }

.button-brown {
  background-color: #756157;
  text-align: center;
}

.button-favorites {
  background-color: rgb(117, 183, 216);
}

.button-favorites-chosen {
  background-color:#7DB54F;
}



.rating-line {
align-items: baseline;

}
